@import '~antd/dist/antd.css';

.App-logo {
    height: 5vmin;
    pointer-events: none;
    position: absolute;
    top: 5px;
}

.app-menus {
    margin-left: 100px;
}

.center-container {
    width: 68%;
    margin: 20px auto 0 50px;
    padding: 15px;
    background: #fff;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 10s linear;
    }
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
